@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}

a {text-decoration: none;}

p {font-weight: 300;}

hr {border: 1px solid hsl(215, 32%, 27%);}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.card {
  max-width: 300px;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  background: hsl(216, 50%, 16%);
  box-shadow: 0px 20px 25px 15px rgba(0, 0, 0, 0.05),
              0px 40px 30px 15px rgba(0, 0, 0, 0.1);
}

/* Card image */
.card .card-product-img {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: .4s ease;
}
.card .card-product-img::after {
  content: url(images/icon-view.svg);
  background: hsla(178, 100%, 50%, 0.5);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
}
.card .card-product-img:hover::after {opacity: 1;}

.card .card-product-img img {
  width: 100%;
  display: block;
}

/* Card Content */
.card .card-content {
  margin: 10px 0;
}

.card .card-content .card-title {
  color: hsl(0, 0%, 100%);
  transition: .4s ease;
  cursor: pointer;
}
.card .card-content .card-title:hover {
  color: hsl(178, 100%, 50%);
}

.card .card-content .card-description {
  margin: 10px 0;
  color: hsl(215, 51%, 70%);
}

.card .card-content .card-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card .card-content .card-details .card-nft-price,
.card  .card-details .card-nft-daysleft {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
}

.card .card-content .card-details .card-nft-price {
  color: hsl(178, 100%, 50%);
}

.card .card-content .card-details .card-nft-daysleft {
  color: hsl(215, 51%, 70%);
}

.card .card-content .card-author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 15px 0 0;
}

.card .card-content .card-author img {
  height: 40px;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.card .card-content .card-author-text {
  color: hsl(215, 51%, 70%);
}

.card .card-content .card-author-text-modified {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  transition: .4s ease;
  cursor: pointer;
}
.card .card-content .card-author-text-modified:hover {
  color:  hsl(178, 100%, 50%);
}

/* RESPONSIVE */
@media screen and (max-width: 360px) {
  .card{
    min-width: 280px;
  }

  .card .card-content .card-title {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}